{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-mod-6">
        <div class = "card card-body">

            <form action = "" method="POST">
                {% csrf_token %}   <!-- this is just a way to send our data securily  safer-->
                {{ formset.management_form }}
                {% for form in formset %}
                    {{form}}           <!-- this form is from views.py def createOrder() form = OrderForm()-->
                     <hr>
                {% endfor %}
                <input type="submit" name = "Submit">
            </form>         
        </div>
    </div> 
</div>           
{% endblock%}